{% extends 'user/memberbase.html' %}
{% load widget_tweaks %}
{% block content %}

    
<html>
<head>

</head>
<body><br>
<div class="container text-center" >

  <form method="POST">
    {%csrf_token%}
    <br><br>
    <p>Did you interacted with someone who has been confirmed with Covid-19?</p>
    <div>
      <input type="radio" id="contactChoice1" name="INTERACTION" value="YES">
      <label for="Choice1">YES</label>
      <input type="radio" id="contactChoice2" name="INTERACTION" value="NO">
      <label for="Choice2">NO</label> 
    </div>
  
    <br>
  
  
    <p>Did you had cold, cough, fever, or sore throat in past 2 weeks ?</p>
    <div>
      <input type="radio" id="contactChoice1" name="FEVER" value="YES">
      <label for="Choice1">YES</label>
      <input type="radio" id="contactChoice2" name="FEVER" value="NO">
      <label for="Choice2">NO</label> 
    </div>
  
    <br>
  
  
    <p>Have you travelled outside of philippines in the past 14 days ?</p>
    <div>
      <input type="radio" id="contactChoice1" name="TRAVEL" value="YES">
      <label for="Choice1">YES</label>
      <input type="radio" id="contactChoice2" name="TRAVEL" value="NO">
      <label for="Choice2">NO</label> 
    </div>
  
    <br>
  
    <p>Have you ever been to an area with high covid case count ?</p>
    <div>
      <input type="radio" id="contactChoice1" name="AREA" value="YES">
      <label for="Choice1">YES</label>
      <input type="radio" id="contactChoice2" name="AREA" value="NO">
      <label for="Choice2">NO</label> 
    </div>
  
    <br>
  
  
    <div>
      <button type="submit">Submit</input>
    </div>
  </form>

</div>
</body>
</html>



{% endblock content %}
