{% extends 'church/homebase.html' %}
<!--content start-->
 <div class="content">
    <br><br><br><br><br>
    {% block content %}
<div style="margin-left:30%;margin-right:30%;" class="log-form">
  <h2 class="text-center">LOGIN TO YOUR ACCOUNT</h2><br>
  <form  class="text-center"  method="post">
   {% csrf_token %}<br>
   <label for="psw"><b>Password</b></label>
   <br>
   <input type="password" placeholder="Enter Password" name="psw" required>
   <br><br>

   <button type="submit"><a href="{% url 'admin_testimonialpage'%}" style="color: white;" onclick="AdminLogin()">Login</button><br><br><br>
    
    
  </form>
</div><!--end log form -->
    {% endblock content %}


    <br><br><br>
 
  </div>
  <!--content end-->
  <script>function AdminLogin() {alert("You Successfully Log In. God Bless.");}</script>