{% extends 'church/adminbase.html' %}
{% block content %}
{%load static%}
<br><br>
<div class="container">
    <H4 class="text-center">TESTIMONIAL DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Devotee Name</th>
                <th scope="col">Type</th>
                
               
                <th scope="col">Message</th>
                <th scope="col">Date</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in testimonial %}
            <tr>
                <td> {{t.devotee}}</td>
                <td> {{t.testimonial_or_prayer}}</td>
                
               
                <td>{{t.message}}</td>
                <td>{{t.date}}</td>
                
                <td class="text-right">
                   
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'delete-testimonial' t.id  %}">DELETE</a> </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock content %}
